.text-center{
    text-align: center;
}
.bg-grey{
    background-color: rgb(43, 43, 43);
    border-radius: 25px;
    padding: 20px;
    width: 270px;
    height: 360px;
}
.mx-auto{
    margin: auto;
}
.mw-35{
    max-width: 35vw;
}

.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
